
body{
   
    background-color: aliceblue;
    padding-left: 20%;
    padding-right: 20%;
}


h1{
    background-color: lightblue;
    text-align: center;

}



div{
 
   display: grid;
  
   margin-right: auto;
   margin-left: auto;
}
input{
    width: 80%;
  padding: 14px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px ,blue;
  border-radius: 4px;
  box-sizing: border-box;

}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    text-align: left;
   

}

#table{
    background-color: beige;
    padding: 100px;
    margin-left: -150px;
}
button{
    background-color:green;
    font-size: small;
    color: lightcyan;
    width: 50px;
    height: 20px;
    border-radius: 5px;
}
#add{
    text-align: center;
    margin-left: 350px;
    width: 100px;
    height: 30px;
    font-size: medium;
    border-radius: 5px;
}