.logo{
   text-align: center; 
   background-color: transparent;
}
.logo>img{
    width: 200px;
}
.templates{
    display: grid;
    grid-template-columns:20% 20% 20%;
    column-gap: 10%;
   
    margin-left: 300px;
    

}
hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
.referals{
   display: inline-block;
   padding-left: 200px;
   

    
}
.logo_2>img{
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
  

}
.logo_2>h1{
    font-size: 30px;
    text-align: center;
}
.logo_2>h2{
    font-size: 25px;
    text-align: center;
}
#tent
{
    text-align: center;
}
.head{
    text-align: center;
}
.head>h1{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
.head>p{
    font-size: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.att_1{
    display: flex;
    flex-direction: row;
    padding-left: 500px;
    
}


.att_1>button{
    margin-left: 30px;
    background-color: black;
    color: white;
    width: 100px;
    border-radius: 5px;
}
.logo_2>button{
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    font-size: larger;
    border-radius: 8px;
   
    


}
.logo_2>button{
    
   justify-content: space-around;
  
    display: flex;
    margin: auto;

}
.p2{
    text-align: center;
}
.FAQ>h1{
 text-align: center;
}

body{
    background-color:aliceblue;
}