/* *{
    left: 15%;
    right: 15%;
} */
body {
  background-color: #ffffff;
  font-family: ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif;
}

#home {
  width: 70%;
  margin: auto;
  /* background-color: rgb(188, 231, 231); */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopify > img {
  height: 75px;
  width: 80%;
  padding: 15px;
}
.headline > h1 {
  font-size: 65px;
  margin: auto;
  text-align: center;
}
.headline > h2 {
  font-size: 30px;
  text-align: center;
}
.inp {
  text-align: center;
}
.inp > input {
  height: 50px;
  width: 40%;
  border-radius: 6px;
  font-size: 20px;
}
.inp > button {
  height: 55px;
  width: 20%;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.data_inp {
  text-align: center;
}
.data_inp > p {
  width: 55%;
  margin: auto;
}
.cart {
  margin: auto;
  text-align: center;
}
.cart_image {
  margin: auto;
}
.templates {
  display: grid;
  grid-template-columns: 25% 25% 30%;
  grid-gap: 5%;
  margin: auto;
  justify-content: center;
}
.templates_data > img {
  height: 50px;
  width: 50px;
}
.all_icons {
  display: flex;
  flex-direction: row;
  gap: 2%;
  justify-content: center;
}
.all_icons > img {
  width: 10%;
}

.star {
  width: 80%;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.star > h1 {
  font-size: 35px;
}
.star > h3 {
  font-size: 25px;
}
.star > button {
  height: 55px;
  width: 20%;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.faqs {
  width: 90%;
  justify-content: center;
}
.faqs > .q1 {
  text-align: center;
}

.q2 {
  display: grid;
  grid-template-columns: 65% 5%;
  grid-gap: 30%;
}
.q2 > img {
  height: 20px;
  width: 20px;
  margin-top: 15px;
  cursor: pointer;
}

.h1 {
  display: none;
}
.h2 {
  display: none;
}
.h3 {
  display: none;
}
.h4 {
  display: none;
}
a {
  color: white;
  text-decoration: none;
}
